@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	background-color: #7bdaf3;
	display: flex;
	flex-wrap: wrap;
	padding-top: 3rem;
}

.add {
	background-color: #9ec862;
	border-radius: 3;
	border: none;
	color: white;
	padding: 0.5rem 1rem;
	margin: 2rem auto;
	position: fixed;
	top: 1rem;
	right: 1rem;
	cursor: pointer;
}

.note {
	background-color: #fff;
	margin: 20px;
	height: 500px;
	width: 500px;
	box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
}

.note .tools {
	background-color: #9ec862;
	padding: 0.5rem;
	display: flex;
	justify-content: flex-end;
}

.note .tools button {
	background-color: transparent;
	border: none;
	color: #fff;
	font-size: 1rem;
	margin-left: 0.5rem;
	cursor: pointer;
}

.note .main {
	background-color: #eee;
	overflow: hidden;
	height: 500px;
	width: 100%;
}

.note textarea {
	outline: none;
	font-family: inherit;
	font-size: 1.2rem;
	height: 400px;
	width: 100%;
	border: none;
}

.note .hidden {
	display: none;
}
